{{#each this}}               
    <div class="photo-card">
        <a class="picture {{class}}" href="{{largeImageURL}}">
        <img src="{{webformatURL}}" alt="{{tags}}" width="300px" height ="200px" loading="lazy"/>
        </a>
        <div class="info">
            <p class="title"><strong>Tags:</strong> {{tags}}</p>
            <p class="info-item">
                <b>Likes: {{likes}}</b>
            </p>
            <p class="info-item">
                <b>Views: {{views}}</b>
            </p>
            <p class="info-item">
                <b>Comments: {{comments}}</b>
            </p>
            <p class="info-item">
                <b>Downloads: {{downloads}}</b>
            </p>
        </div>
    </div>
{{/each}}